* {
    margin: 0;
    padding: 0;
}

body {
    font-family: acme, Arial, sans-serif;
}

header {
    background-color: #333333;
    color: white;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

p {
    padding: 20px;
    font-size: 1.5em;
}

nav {
    margin: 0;
    background-color: black;
    padding: 25px;
    justify-content: space-around;
}

h1 {
    text-align: center;
    padding: 0.5rem;
}

body.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.main {
    flex: 1;
    background-color: #C0C0C0;
}

.sidebar {
    background-color: #FFFFFF;
    width: 400px;
}

.footer {
    text-align: center;
    background-color: #363636;
    color: white;
    height: 250px;
}

.navigation {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.navigation li {
    flex: 1 1 auto;
}

.navigation a {
    display: block;
    color: white;
    font-size: 1.5em;
    text-decoration: none;
    text-align: center;
}

.navigation a:hover {
    font-weight: 700;
    color: yellow;
}

@media (min-width: 56.25em) {

    /* 900px */
    .content {
        flex-direction: row;
    }
}